# Variáveis de ambiente
.env
.env.local
.env.production

# Node
node_modules/
dist/
build/

# Next.js
.next/

# Python
venv/
.venv/
env/
.env/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.hypothesis/
.pytest_cache/

# Prisma
prisma/migrations/dev.db

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db