# OLTP Database (Source)
OLTP_HOST=localhost
OLTP_PORT=5432
OLTP_DB=sneakers_oltp
OLTP_USER=postgres
OLTP_PASSWORD=postgres

# BI Database (Analytical)
BI_HOST=localhost
BI_PORT=5433
BI_DB=sneakers_bi
BI_USER=postgres
BI_PASSWORD=postgres
